[user]
	email = lars.schneider@autodesk.com
	name = Lars Schneider
[mergetool]
	keepBackup = true
[alias]
	co = checkout
	st = status
	ci = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	wtf = ~/bin/git-wtf
	p4 = !git-p4
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
	editor = subl -n -w
	excludesfile = ~/.git-global-exclude
[help]
    autocorrect = 1
[hub]
	host = git.autodesk.com
	protocol = https
[github "git.autodesk.com"]
	user = schneil
[push]
	default = upstream
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[git-p4]
	detectRenames = true
	detectCopies = true
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = larsxschneider@gmail.com
    smtpserverport = 587
    from = larsxschneider@gmail.com
    chainreplyto = false
    suppresscc = self
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[lfs]
	batch = false
